@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --textSoft: #b7bac1;
}

body {
    background-color: var(--bg);
    color: var(--textSoft);
}