@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: #ffffff;
    --textSoft: #b7bac1;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.flex-center {
    @apply flex items-center justify-center;
}

.flex-start {
    @apply flex items-start justify-start;
}

.flex-between {
    @apply flex items-center justify-between;
}